div#logo{
	border-style: solid;
	border-radius: 5px;
	position: absolute;
	left: 38%;
	width: 24%;
	top:20%;
	z-index: 2;
	border-color: white;
	font-size: 180%;
}

input#user_name,#passwd{
	border-style: solid;
	width: 100%;
	border-color: #888888;
	border-width: 1.5px;
	padding: 2%;
	font-size: 180%;
	z-index: 2;
}

input#user_name{
	border-bottom-style: none;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

input#passwd{
	border-top-color: #bbbbbb;
	border-top-width: 1px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

div#input_boxes{
	width: 84%;
	position: absolute;
	left: 6%;
	text-align: right;
	z-index: 2;
}


a#forget_pwd_a{
	color: white;
	z-index: 2;
}

button{
	color: white;
	border-style: outset;
	border-radius: 10px;
	width: 104%;
	font-size: 180%;
	padding: 5%;
	z-index: 2;
}

button#signInButton{
	background:-webkit-linear-gradient(#1E90FF,#1874CD);
	background:linear-gradient(#1E90FF,#1874CD);
	margin-top: 10%;
}

button#signUpButton{
	background: -webkit-linear-gradient(#32CD32,#00CD00);
	background: linear-gradient(#32CD32,#00CD00);

}

body{
	background-image: url(../img/bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

#padding{
	width: 92%;
	height: 70%;
	position: absolute;
	top:15%;
	left: 4%;
	background-color: white;
	opacity: 0.4;
	-webkit-opacity:0.5;
	z-index: 1;
	border-radius: 20px;
}