div.message{
	width: 100%;
	height: 15%;
	background: linear-gradient(#f9f9f9, #e3e3e3);
	background: -webkit-linear-gradient(#f9f9f9, #e3e3e3);
	border-bottom: 1px solid #a9a9a9;

}

div.message div.tx{
	height: 80%;
	border-style:solid;
	border-radius: 5px;
	position: relative;
	left: 2%;
	top:5%;
	border-width: 1px;
	float: left;
	
}

div.message div.name{
	position: relative;
	top:5%;
	margin-left: 3%;
	float: left;
}

div.message div.message_content{
	
	top:50%;
	position: relative;
	 overflow :hidden ;
	 text-overflow:ellipsis;
	  white-space:nowrap;
}

div.message div.date{
	margin-right: 2%;
	float: right;
	margin-top: 2%;
	
}

#pullDown {
	background:#fff;
	height:40px;
	line-height:40px;
	padding:5px 10px;
	border-bottom:1px solid #ccc;
	font-weight:bold;
	font-size:150%;
	color:#888;
	width: 100%;
}
#pullDown .pullDownIcon {
	display:block; float:left;
	width:40px; height:40px;
	background:url(../img/pull-icon@2x.png) 0 0 no-repeat;
	-webkit-background-size:40px 80px; background-size:40px 80px;
	-webkit-transition-property:-webkit-transform;
	-webkit-transition-duration:250ms;	
}
#pullDown .pullDownIcon {
	-webkit-transform:rotate(0deg) translateZ(0);
}


#pullDown.flip .pullDownIcon {
	-webkit-transform:rotate(-180deg) translateZ(0);
}



#pullDown.loading .pullDownIcon{
	background-position:0 100%;
	-webkit-transform:rotate(0deg) translateZ(0);
	-webkit-transition-duration:0ms;

	-webkit-animation-name:loading;
	-webkit-animation-duration:2s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function:linear;
}

@-webkit-keyframes loading {
	from { -webkit-transform:rotate(0deg) translateZ(0); }
	to { -webkit-transform:rotate(360deg) translateZ(0); }
}

#messages{
	position: relative;
	left: 0;
	width: 100%;
}
#wrapper{
	position: absolute;
	width: 100%;
	top:10%;
	height: 80%;
}